# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/

# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear

# Sistema operativo
.DS_Store
Thumbs.db

# Log files
*.log

# Files temporanei
*.tmp
*.swp
/.metadata/

#db
ABLV_IngSW/database/gare.db

#dbeaver
ABLV_IngSW/.dbeaver
ABLV_IngSW/.mvn
ABLV_IngSW/.settings